.input {
  user-select: inherit;

  width: 4em;
  margin: 0 2px;

  font-size: 16px;

  appearance: none;
  background: none;
  border: 1.5px dotted #ffffff80;
  outline: none;

  &:disabled {
    cursor: not-allowed;
    color: #ffffff90;
    background: #c5d0bda6;
  }
}
